h1 {
  margin: 30px 0;
}

#language-test {
  margin: 30px 0 50px;
}

.question {
  margin: 30px 0;
}

#form-feedback {
  margin: 30px 0;
  display: none;
}

.required {
  color: red;
}

#reason-why {
  display: block;
  width: 400px;
  height: 100px;
}

#btn {
  background-color: teal;
}