body {
  background-color: #F5F9E9;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #201528;
  color: #F5F9E9;
  font-family: 'Dela Gothic One', cursive;
  height: auto;
  max-width: 100%;
}

a {
  color: #8789C0;
  font-weight: bold;
}

a:hover {
  color: #8789C0;
  text-decoration: underline;
}

#header h1 {
  padding: 50px;
}

#language-test {
  margin: 30px;
}

#name {
  display: block;
  width: 300px;
}

.question {
  margin: 30px 0;
}

#form-feedback {
  margin: 30px 0;
  display: none;
}

#form-feedback h2 {
  margin: 0 0 20px;
}

.required {
  color: #EF5B5B;
}

#reason-why {
  display: block;
  width: 400px;
  height: 100px;
}

#btn {
  background-color: #201528;
  color: #F5F9E9;
}

#form-score {
  font-weight: bold
}

.language-result {
  font-weight: bold;
}

#resources {
  margin: 0 0 40px 0;
}

#ruby-resources {
  display: none;
}

#react-resources {
  display: none;
}

#swift-resources {
  display: none;
}

footer {
  background-color: #201528;
  color: #F5F9E9;
  font-family: 'Comfortaa', cursive;
  font-size: 0.7em;
  font-weight: bold;
  height: auto;
  margin: 80px 0 0 0;
  padding: 20px;
  text-align: center;
}